extends layout

block content
  |<div id="container"/>
  //- inject:js
  |<script type="text/jsx" src="js/App.jsx"/>
  |<script type="text/jsx" src="js/Chart.jsx"/>
  |<script type="text/jsx" src="js/BarChart.jsx"/>
  |<script type="text/jsx" src="js/Bar.jsx"/>
  |<script type="text/jsx" src="js/DataSeries.jsx"/>

  //- endinject
