extends layout

block content
  |<div id="container"/>
  //- inject:js
  |<script type="text/jsx" src="js/App.jsx"/>
  |<script type="text/jsx" src="js/ScrollContainer.jsx"/>
  |<script type="text/jsx" src="js/NavBar.jsx"/>
  |<script type="text/jsx" src="js/ScrollData.js"/>
  |<script type="text/jsx" src="js/scrollmixin.js"/>
  |<script type="text/jsx" src="js/isscrollmixin.js"/>
  //- endinject
