extends layout

block content
  |<div id="container"/>
  //- inject:js
  |<script type="text/jsx" src="js/App.jsx"/>
  |<script type="text/jsx" src="js/Scroll/ScrollContainer.jsx"/>
  |<script type="text/jsx" src="js/Scroll/NavBar.jsx"/>
  |<script type="text/jsx" src="js/Scroll/ScrollData.js"/>
  |<script type="text/jsx" src="js/Scroll/scrollmixin.js"/>
  |<script type="text/jsx" src="js/Scroll/isscrollmixin.js"/>

  |<script type="text/jsx" src="js/ThemeX.jsx"/>
  |<script type="text/jsx" src="js/NavElt.jsx"/>
  |<script type="text/jsx" src="js/fakeData.js"/>

  //- endinject
