body {
  background-color: #222;
}

span {
  margin-left: 13px;
  display: table-cell;
  vertical-align: middle;
  line-height: normal;
  font-size: 25px;
  font-family: sans-serif;
  font-weight: 600;
  color: #FFF9C5;
}

#color-link:hover {
  background-color: #e18728;
}

#scroll-link:hover {
  background-color: #9351A6;
}

#scroll-text {
  position: absolute;
}

.app-container {
  background-color: #222;
}

.app-header {
  font-size: 100px;
  color: white;
}

.nav-button {
  height: 90%;
  width: 15%;
  display: table;
  text-align: center;
  margin: 8px 10px 0px 10px;
  float: left;
  background-color: #333;
}

.page {
  background-color: #333;
  width: 90%;
  margin: 10px 0px 0px 0px;
}


.scroll-nav {
  width: 90%;
  height: 75px;
  background-color: #333;
}

.target {
  width: 100px;
  height: 100px;
  position: relative;
}

.target-container {
  overflow: hidden;
  width: 100px;
  height: 100px;
  border-radius: 60px;
  margin: 5px 0px 15px 0px;
}

.vis-backdrop {
  width: 600px;
  height: 400px;
  background-color: #eee;
}
