.themex-nav {
  padding-right: 20px;
  float: right;
}


.themex-nav-element {
  margin-left: 25px;
  list-style: none;
  display: inline-block;
}

.themex-nav-elements {
    border: 0;
    margin: 0;
    padding: 0;
}

.themex-nav-header {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 65px;
  line-height: 65px;
  filter: alpha(opacity=90);
  background-color: rgba(250,250,250,0.9);
}
